@{
    Layout = null; // Defina um layout apropriado se necessário, por exemplo: "~/Views/Shared/_Layout.cshtml"
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBWAY Payment</title>
    <link rel="stylesheet" href="../assets/css/mbway.css">
</head>
<body>
    <div class="container">
        <img src="../assets/images/mbway.png" alt="MBWAY Logo" class="mbway">
        <div class="payment-box">
            <label for="email">Enter your phone number</label>
            <input type="email" id="email" placeholder="Phone number">
            <button class="pay-button">Finish payment</button>
        </div>
    </div>
    <script src="../assets/js/mbway.js"></script>
</body>
</html>