@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
    <link rel="stylesheet" href="/css/users_packages.css">
</head>
<body>
    <div class="header">
        <img src="/images/backArrow.png" alt="Back" class="back-button">
    </div>
    <h1 class="title">Your Orders</h1>

    <div id="orders-container">
    </div>

    <script src="/js/users_packages.js"></script>
</body>
</html>