@{
    Layout = null; // Defina um layout apropriado se necessário, por exemplo: "~/Views/Shared/_Layout.cshtml"
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders from the user</thead></title>
    <link rel="stylesheet" href="/css/users_packagesAdmin.css">
</head>
<body>
    <div class="header">
        <header>ADMIN MODE</header>
        <img src="/images/backArrow.png" alt="Back" class="back-button">
    </div>
    <h1 class="title" id="user-orders-title">Orders from </h1>

    <div id="orders-container">
        <!-- As encomendas serão inseridas aqui via JavaScript -->
    </div>

    <script src="/js/users_packagesAdmin.js"></script>
</body>
</html>