@{
    Layout = null; // Defina um layout apropriado se necessário, por exemplo: "~/Views/Shared/_Layout.cshtml"
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
    <link rel="stylesheet" href="/css/users_packages.css">
</head>
<body>
    <div class="header">
        <img src="/images/backArrow.png" alt="Back" class="back-button">
    </div>
    <h1 class="title">Your Orders</h1>
    
    <div class="order">
        <div class="order-header">
            <div class="package-box">
                <div class="package">Package #1</div>
            </div>
            <div class="price-box">
                <div class="price">Price:<br>159.98€</div>
            </div>
            <div class="contents-box">
                <div class="contents-title">Contents:</div> <!-- Palavra "Contents" -->
                <div class="contents">
                    <div class="speedy">SPEEDY Electric Scooter x2</div>
                    <div class="hidden">GLIDY Scooter x0</div>
                </div>
            </div>                       
            <div class="status-box">
                <div class="status">Package status:<br> Finished</div>
            </div>
            <div class="delivery-box">
                <div class="delivery">Delivery date:<br> 12/11/2024</div>
            </div>
        </div>
        <div class="order-details">
            <table>
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Step Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Tornar clicável -->
                        <td onclick="goToSpeedyPage()">SPEEDY Electric Scooter</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <!-- Tornar clicável -->
                        <td onclick="goToSpeedyPage()">SPEEDY Electric Scooter</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>

    <div class="order">
        <div class="order-header">
            <div class="package-box">
                <div class="package">Package #2</div>
            </div>
            <div class="price-box">
                <div class="price">Price:<br>169.96€</div>
            </div>
            <div class="contents-box">
                <div class="contents-title">Contents:</div> <!-- Palavra "Contents" -->
                <div class="contents">
                    <div class="speedy">SPEEDY Electric Scooter x1</div>
                    <div class="glidy">GLIDY Scooter x3</div>
                </div>
            </div>            
            <div class="status-box">
                <div class="status">Package status:<br> Assembling</div>
            </div>
            <div class="delivery-box">
                <div class="delivery">Delivery date:<br> 15/11/2024</div>
            </div>
        </div>
        <div class="order-details">
            <table>
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Step Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Tornar clicável -->
                        <td onclick="goToSpeedyPage()">SPEEDY Electric Scooter</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <!-- Tornar clicável -->
                        <td onclick="goToGlidyPage()">GLIDY Scooter</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <!-- Tornar clicável -->
                        <td onclick="goToGlidyPage()">GLIDY Scooter</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <!-- Tornar clicável -->
                        <td onclick="goToGlidyPage()">GLIDY Scooter</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>

    <script src="/js/users_packages.js"></script>
</body>
</html>