@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Page</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <h2>PRODUCTS</h2>
    <div class="cart" id="cart-items-container">
        <!-- O conteúdo será carregado via AJAX -->
    </div>
    <div class="payment">
        <img class="back-arrow" src="/images/backArrow.png" alt="Seta">
        <img class="paypal" src="/images/paypal.png" alt="PayPal">
        <img class="mbway" src="/images/mbway.png" alt="MB WAY">
        <div class="total">
            <p class="totaltext">TOTAL:</p>
            <p class="totalprice" id="total-price">0€</p> <!-- Total será atualizado com JavaScript -->
        </div>
    </div>        
    <script src="/js/cart.js"></script>
</body>
</html>