body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px;
    margin-top: -35px;
    margin-left: 40px;
    background-color: #505050;
    color: white;
    font-size: 40px;
}

.header header {
    position: relative;
    top: -15px; /* Ajusta conforme necessário */
}

.back-button {
    position: absolute; /* Torna o botão flutuante */
    top: 50%; /* Centraliza verticalmente */
    right: 20px; /* Alinha à direita com espaçamento */
    transform: translateY(-50%); /* Ajusta para ficar perfeitamente centralizado */
    width: 50px; /* Tamanho do botão */
    height: 50px;
    cursor: pointer;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.card-text {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #505050;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}

.card img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    background-color: #626262;
    border-radius: 5px;
    object-fit: contain;
}

.card-text:hover {
    background-color: #605f5f;
    color: #fff;
    cursor: pointer;
}

.back-button {
    width: 40px;
    height: 40px;
    position: relative;
    left: -30px;
}