body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.header {
    width: 100%; /* O cabeçalho preenche toda a largura */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #505050; /* Fundo do cabeçalho */
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin-top: 50px; /* Adiciona espaço abaixo do cabeçalho */
}

.card {
    border-radius: 10px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.card-text {
    width: 100%; /* Ocupa toda a largura do cartão */
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #505050; /* Fundo cinzento */
    border-radius: 5px; /* Bordas arredondadas */
    margin-top: 10px; /* Espaçamento entre imagem e texto */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    display: inline-block; /* Garante que a área clicável seja o texto */
}

.card img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    background-color: #666;
    border-radius: 5px;
    object-fit: contain;
}

.card-text:hover {
    background-color: #605f5f;
    color: #fff;
    cursor: pointer;
}
