body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    margin-left: 25px;
    background-color: #505050;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.card-text {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #505050;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}

.card img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    background-color: #626262;
    border-radius: 5px;
    object-fit: contain;
}

.card-text:hover {
    background-color: #605f5f;
    color: #fff;
    cursor: pointer;
}
