body {
  font-family: '', sans-serif;
  background-color: #E6F7FF; /* Azul claro */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome {
  font-family: 'Joan', serif;
  font-size: 40px;
  color: #333;
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  animation: fadeInUp 0.5s ease-in-out;
}

.container {
  text-align: left; /* Alinha o conteúdo à esquerda */
  background-color: #F8FDFF;
  border-radius: 15px; /* Bordas arredondadas */
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra mais suave */
  width: 350px; /* Ajuste proporcional à imagem */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaçamento entre elementos */
  animation: fadeIn 0.5s ease-in-out; /* Animação de entrada */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

label {
  font-size: 21px;
  color: #555;
  margin-bottom: 5px;
  display: block; /* Garante que o texto fique acima */
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0; /* Espaço entre campos */
  border: 1px solid #ccc;
  border-radius: 8px; /* Bordas arredondadas */
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px; /* Bordas arredondadas */
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transição suave na cor do botão */
}

button:hover {
  background-color: #444;
}
