/* Estilo global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F0FBFF; /* Fundo total da página */
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E1F4FA; /* Fundo do cabeçalho */
}

.header .cart-button {
    margin-left: -1600px; /* Coloca o ícone do carrinho mais próximo do de encomendas */
}

.header img {
    width: 30px; /* Tamanho dos ícones */
    height: 30px;
    cursor: pointer;
}

/* Produtos */
.product {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaço entre a imagem e os detalhes */
    margin-top: 100px;
    margin-bottom: 150px; /* Maior espaçamento vertical entre os produtos */
    margin-left: 100px; /* Distância consistente da parede esquerda */
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os detalhes */
    gap: 25px; /* Espaço entre os elementos */
    margin-left: 30px;
}
/* Imagem e nome da trotinete */
.product img {
    width: 150px;
    height: 200px;
}

.product-name {
    font-size: 16px;
    color: #333;
    margin: 5px 0 0;
    text-align: center; /* Alinha o nome abaixo da imagem */
}

.product-price {
    font-size: 18px;
    color: #940707; /* Cor do texto em vermelho */
    font-weight: bold;
}

/* Cores dos produtos */
.product-colors {
    display: flex;
    gap: 5px;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Botão de detalhes */
.details-button {
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.details-button:hover {
    background-color: #bbb;
}
