/* Reset de estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: #ffffff;
    text-align: center;
}

/* Cabeçalho */
.header {
    background-color: #444444;
    padding: 70px;
}

.header header {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-top: -55px;
    margin-left: -50px;
}

.stock-container h1{
    font-size: 70px;
}

/* Layout da grelha das peças */
.parts-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 40px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.part:nth-child(1),
.part:nth-child(2),
.part:nth-child(3) {
    grid-column: span 1; /* Garante que só ocupam 1 coluna */
}

.part:nth-child(4) {
    grid-column: 1 / span 1; /* Inicia nova linha na 1ª coluna */
}

.part p {
    font-size: 24px; /* Aumenta o tamanho do nome da peça */
    margin: 5px 0;
}

.part span {
    font-size: 20px; /* Aumenta o tamanho da quantidade */
    background-color: #444;
    padding: 5px 50px;
}

/* Ajustes de imagens individuais */
.battery-img {
    width: 210px; /* Tamanho específico para a bateria */
    height: 215px;
}

.brakes-img {
    width: 180px; /* Tamanho específico para os travões */
    height: 160px;
}

.lights-img {
    width: 170px; /* Tamanho específico para as luzes */
    height: 170px;
}

.tires-img {
    width: 254px; /* Tamanho específico para as rodas */
    height: 254px;
}

.engine-img {
    width: 146px; /* Tamanho específico para os motores */
    height: 215px;
}

.control-screens-img {
    width: 210px; /* Tamanho específico para os controladores */
    height: 210px;
}

.frames-img {
    width: 210px; /* Tamanho específico para os quadros */
    height: 230px;
}